body {
    font-family: "Inter", sans-serif;
    background: #eef1f5;
    margin: 0;
    padding: 20px;
}

.titulo {
    text-align: center;
    color: #1c2635;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 25px;
}

.card {
    max-width: 780px; /* perfecto para PDF */
    width: 100%;
    margin: auto;
    background: white;
    padding: 25px;
    border-radius: 18px;
    box-shadow: 0 6px 28px rgba(0,0,0,0.12);
    box-sizing: border-box;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: 600;
    color: #1f2d3d;
    font-size: 15px;
    margin-bottom: 6px;
    display: block;
}

input, textarea, select {
    width: 100%;
    font-size: 15px;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #cdd4dd;
    background: #fdfdfd;
    box-sizing: border-box;
}

textarea {
    min-height: 90px;
    resize: vertical;
}

.btn-download {
    max-width: 780px;
    display: block;
    margin: 30px auto;
    padding: 15px;
    font-size: 18px;
    border-radius: 12px;
    border: none;
    background: #4c8ef5;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
